# Discord Bot Token
# https://discord.com/developers/applications
TOKEN=

# Discord Bot Client ID
# https://discord.com/developers/applications
CLIENT_ID=

# Discord Guild ID
# https://support.discord.com/hc/en-us/articles/206346498-Where-can-I-find-my-User-Server-Message-ID-
GUILD_ID=

# Discord User ID of the bot owner
# https://support.discord.com/hc/en-us/articles/206346498-Where-can-I-find-my-User-Server-Message-ID-
OWNER_ID=

# Discord Role ID for Juniper Nexus members
JPN_ROLE_ID=

# Discord Role ID for people interested in the Juniper Nexus
INTERESTED_ROLE_ID=

# PostgreSQL Database URL
# https://www.postgresql.org/docs/current/libpq-connect.html#LIBPQ-CONNSTRING
DATABASE_URL=